body{
    height: 100%;
      margin:0px;
      padding: 0px;
      background-color:#ffffff;
      overflow: hidden;
      font-family: system-ui;
      overflow-y: scroll;
  }
  .clearfix{
      clear: both;
  }
  .logo{
      margin-top: 10px;
      margin-left: 35px;
      font-weight: bold;
      font-size: 50px;
      font-family: "Ubuntu Mono", monospace;
      color: #ffffff;
      margin-bottom: 30px;
  }
  .logo span{
      color: #f7403b;
      margin-right: 5px;
  }
  
  .sidenav {
    height: 120%;
    width: 280px;
    position: fixed;
    padding-left: 0px;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #3b3b44;
    overflow: hidden;
    transition: 0.5s;
    padding-top: 30px;
  }
  .sidenav a {
    padding: 15px 8px 15px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  .sidenav a:hover {
    color: #cf3939;
    background-color:#3636a1;
  }
  .sidenav{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  #main {
    transition: margin-left .5s;
    padding: 16px;
    margin-left: 300px;
  }
  .head{
      padding:20px;
  }
  
  .nav2{
      display: none;
  }

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.box{
	display: inline-block;
	margin: 10px 10px 15px;
	background-color: rgb(131, 198, 224);
	border-radius: 10px;
	width: 300px;
	height: 100px;
	font-weight: bold;
	box-shadow: 5px 5px 5px rgb(157, 151, 212);
	color: #000066;
	font-family: "Ubuntu", sans-serif;
	padding-top: 10px;
}


.box-topic{
	font-size: 18px;
	margin: 10px;
}

.number{
	font-size: 28px;
	margin: 10px;
	
}

.right-side{
	display: inline-block;
}

#cart{

	font-size: 36px;
	float: right;
	margin: 15px;
}


#chartContainer{
	margin: 15px;
}

.home-content{
	margin-top: 15px;
}

#chartContainer{
	margin-top: 80px;
}









